<mat-nav-list>
  <div class="profile-card" style="text-align: center;">
    <div class="header">
      <h2>soufiane Faidil</h2>
      <h4>example@emai.com</h4>
    </div>

    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="img">

  </div>
  <mat-divider></mat-divider>

  <h2 mat-subheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dahsboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>

  <mat-divider></mat-divider>
  <h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon class="mat-18">import_contacts</mat-icon>
    Contacts
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon class="mat-18">contact_phone</mat-icon>
    Lead
  </a>
</mat-nav-list>
